.header-component {
    text-align: center;
}

.app-noti {
    width: 100%;
    margin: 30px 0;
    padding: 3px 5px;
    border: 0.1px solid $light-red-color;
    color: $red-color;
    box-shadow: 3px 5px 6px $light-red-color;
}