.highlight-component {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.highlight-card {
  border: 1px solid $black-color;
  width: 300px;
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:1px solid $smoke-gray-color;
  border-radius: 6px;
  box-shadow: 0.5px 3px 2px $smoke-gray-color;
  .card-border {
    position: absolute;
    height: 100%;
    width: 5px;
    left: -1px;
    background-color: $black-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    &-confirmed{
      background-color: $red-color;
    }
    &-recovered{
      background-color: $green-color;
    }
    &-death {
      background-color: $black-color;
    }
  }
  .card-content {
    margin-left: 20px;
  }
}
