.highlight-card {
  border: 1px solid black;
  width: 200px;
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  .card-border {
    position: absolute;
    height: 100%;
    width: 2px;
    left: 0px;
    background-color: black;
  }
}
